.buttons {
  img {
    transform: scale(0.8);
  }
  & img:hover {
    cursor: pointer;
    //use filter: ; to color svgs
    color: #facd66;
  }
  .line {
    padding: 0 283px;
    font-size: 2px;
    background-color: #fff;
    // margin-left: -49px;
    // margin: 0 auto;
  }
}
.song-details {
    width: 13%;
}

