.collections-page {
  height: 88vh ;
  button {
    padding: 8px 18px;
    border-radius: 27px;
    margin: 0;
    margin-right: 20px;
    opacity: 0.25;
    border: 1px solid #efeee0;
    // color: ;

    &.active {
      background: #facd66;
      opacity: 1;
      color: #1d2123;
      border: none;
    }
  }
  .badge {
    font-size: 13px;
    width: 203px;
    height: 214px;
    text-align: left;
    padding: 0 0 18px 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    border-radius: 20px;
  }
  h1 {
    font-size: 21px;
  }
  p {
    font-size: 10px;
    opacity: .8;
  }
}
