.collections-page {
  button {
    padding: 8px 18px;
    border-radius: 27px;
    margin: 0;
    margin-right: 20px;
    opacity: 0.25;
    border: 1px solid #efeee0;
    // color: ;

    &.active {
      background: #facd66;
      opacity: 1;
      color: #1d2123;
      border: none;
    }
  }
  
  .coll {
    overflow-x: scroll;
    scroll-behavior: smooth;
    // flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
