$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 1.2rem;
  color: $sub-color;
}

.group {
  position: relative;
  margin: 5px 0;
}
.form-input {
  background: $main-color;
  color: $sub-color;
  outline: none;
  display: block;
  border: 1px #a4c7c6 solid;
  border-radius: 5px;
  &:valid {
    background: $main-color;
    color: $sub-color;
  }

  &:focus {
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    &::placeholder {
      opacity: 0;
    }
  }

  &:focus ~ .form-input-label {
    @include shrinkLabel();
    opacity: 1;
  }
}

// input[type="password"]  {
//   letter-spacing: 0.2em;
// }

.form-input-label {
  color: $sub-color;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 15px;
  opacity: 0;
  transition: 300ms ease all;

  &.shrink {
    @include shrinkLabel();
  }
}
