.outlet {
    gap: 43px;
    margin-bottom: 7rem;
}

.hero {
  background: #609eaf;
  border-radius: 40px;
  // margin-right: 22px;
  position: relative;
  
  &-img,&-svg {
    position: absolute;
    top: 0;
    right: 0;
    svg {
        border-radius: 40px;
    }
  }
}
.cards {
  &::-webkit-scrollbar {
    display: none;
  }
}
